# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Modules
node_modules

# webstorm
.idea

# typings
typings

# Coverage
dist/coverage

# Visual studio code
.vscode

# Lib
lib

# Server overrides
server.js
